/* Extra styling for square boxes and a border around #today
 * and some additional colors
 */

.module.calendar_monthly #yearDigits {
	color: #fff;
	font-weight: normal;
} 

.module.calendar_monthly #monthName {
	font-weight: normal;
}

.module.calendar_monthly #monthName:after {
	content: " •";
	color: #80ff00;
	font-weight: bold;
}

.module.calendar_monthly .monthPrev {
	color: #333333;
}

.module.calendar_monthly .monthNext {
	color: #333333;
}

.module.calendar_monthly .square-box {
	position: relative;
	width: 50%;
	overflow: hidden;
	margin: 0px auto;
}

.module.calendar_monthly .square-box:before {
	content: "";
	display: block;
	padding-top: 20%;
}

.module.calendar_monthly .square-content {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.module.calendar_monthly .square-content .today {
	border: 1px solid #80ff00;
	font-weight: normal;
	color: #80ff00;
}

.module.calendar_monthly .square-content div {
	display: table;
	width: 100%;
	height: 100%;
}

.module.calendar_monthly .square-content span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}